@model RentCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center mb-3">Edit</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="CarId" class="form-control" />
                <label asp-for="CarId" class="form-label">Car ID</label>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="TenantId" class="form-control" />
                <label asp-for="TenantId" class="form-label">Tenant ID</label>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="StartDate" class="form-control" />
                <label asp-for="StartDate" class="form-label">Start Date</label>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="EndDate" class="form-control" />
                <label asp-for="EndDate" class="form-label">End Date</label>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>            
            <div class="text-center mb-2">
                <input type="submit" value="Save" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="text-center">
    <a asp-action="All" class="btn btn-secondary">Back to List</a>
</div>
