@model CarCreateViewModel

@{
    ViewData["Title"] = "Create Car";
}

<h1 class="text-center mb-3">Create a new car</h1>
<hr />

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Brand" class="form-control" />
                <label asp-for="Brand" class="form-label">Brand</label>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Model" class="form-control" />
                <label asp-for="Model" class="form-label">Model</label>
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Year" class="form-control" />
                <label asp-for="Year" class="form-label">Year</label>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Passenger" class="form-control" />
                <label asp-for="Passenger" class="form-label">Passenger</label>
                <span asp-validation-for="Passenger" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="ImageLink" class="form-control" value="@Model.ImageLink" />
                <label asp-for="ImageLink" class="form-label">Image Link</label>
                <span asp-validation-for="ImageLink" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Description" class="form-control" />
                <label asp-for="Description" class="form-label">Description</label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="RentPrice" class="form-control" />
                <label asp-for="RentPrice" class="form-label">Rent Price</label>
                <span asp-validation-for="RentPrice" class="text-danger"></span>
            </div>
            <div class="text-center">
                <input type="submit" value="Create" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-2">
    <a asp-action="All" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
