@model CarDeleteViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="mb-3">Delete</h1>

<div class="card">
    <div class="card-body">
        <h3>Are you sure you want to delete this car?</h3>
        <hr />
        <h4>@Model.Brand @Model.Model</h4>
        <form asp-action="DeleteConfirm" asp-route-id="@Model.Id">
            <div class="text-center">
                <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                <a asp-action="All" class="btn btn-secondary btn-sm">Back to List</a>
            </div>
        </form>
    </div>
</div>
